/**
 * Responsive
 */

@media (max-width:900px){

.engineering-capabilities__grid{

grid-template-columns:1fr;

}

.engineering-capability{

border-bottom:1px solid var(--color-border);

}

.engineering-capability:last-child{

border-bottom:none;

}

}